<IfModule mod_rewrite.c>
    # Disable index view
    Options -Indexes
    RewriteEngine On
    #RewriteBase /foldername/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
    #Enable SSL
    #RewriteCond %{HTTPS} !=on
    #RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
    # Hide a specific file
    <Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
        Order allow,deny
        Deny from all
    </Files>
</IfModule>